body {
    display: flex;
    background-color: white;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.poster {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
    height: 450px;
    background-color: #89b0e2;
    border-radius: 20px;
}
.poster div {
    width: 100%;
    text-align: center;
}
